SetEnvIf REDIRECT_HTTPS (.*) HTTPS=$1 
<IfModule mod_rewrite.c>
RewriteEngine on 

# リダイレクト
# Jekyll時代のURL -> Hexo時代のURL
# 2015年
RewriteRule ^article/(kobito-for-windows-pc)$ https://%{HTTP_HOST}/articles/2015/$1/ [R=301,L]
RewriteRule ^article/(habu-yoshiharu-ron)$ https://%{HTTP_HOST}/articles/2015/$1/ [R=301,L]
RewriteRule ^article/(windows-10)$ https://%{HTTP_HOST}/articles/2015/$1/ [R=301,L]
RewriteRule ^article/(i)$ https://%{HTTP_HOST}/articles/2015/$1/ [R=301,L]
RewriteRule ^article/(windows-10-intellij-idea-terminal)$ https://%{HTTP_HOST}/articles/2015/$1/ [R=301,L]
RewriteRule ^article/(back-to-basics-css-lt)$ https://%{HTTP_HOST}/articles/2015/$1/ [R=301,L]
RewriteRule ^article/(6-createjs)$ https://%{HTTP_HOST}/articles/2015/$1/ [R=301,L]
RewriteRule ^article/(createjs-t-shirt)$ https://%{HTTP_HOST}/articles/2015/$1/ [R=301,L]
RewriteRule ^article/(createjs)$ https://%{HTTP_HOST}/articles/2015/$1/ [R=301,L]
# 2016年
RewriteRule ^article/(lynda-com)$ https://%{HTTP_HOST}/articles/2016/$1/ [R=301,L]
RewriteRule ^article/(deshi)$ https://%{HTTP_HOST}/articles/2016/$1/ [R=301,L]
# 2017年
RewriteRule ^article/(getting-started-electron)$ https://%{HTTP_HOST}/articles/2017/$1/ [R=301,L]
RewriteRule ^article/(getting-started-vagrant)$ https://%{HTTP_HOST}/articles/2017/$1/ [R=301,L]
RewriteRule ^article/(dmm-okan)$ https://%{HTTP_HOST}/articles/2017/$1/ [R=301,L]
RewriteRule ^article/(expense)$ https://%{HTTP_HOST}/articles/2017/$1/ [R=301,L]
RewriteRule ^article/(co-working)$ https://%{HTTP_HOST}/articles/2017/$1/ [R=301,L]
RewriteRule ^article/(codegrid-5th)$ https://%{HTTP_HOST}/articles/2017/$1/ [R=301,L]
RewriteRule ^article/(cancel-meetup)$ https://%{HTTP_HOST}/articles/2017/$1/ [R=301,L]
RewriteRule ^article/(xd-for-figure)$ https://%{HTTP_HOST}/articles/2017/$1/ [R=301,L]
</IfModule>
