.author
    img.author__image(src="/images/author/448jp.png")
    .author__info
        .author__name 沖 良矢（OKI Yoshiya）
        p.author__body
            | インタラクションデザイナー。フリーランスとして、テクニカルディレクション、フロントエンド開発、スマートフォンアプリ制作など様々な立場から数多くのプロジェクトに参加している。クリエイティブコミュニティ
            a(href="http://dist.tokyo", target="_blank") DIST
            | 主宰。
        <a href="https://twitter.com/448jp?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-lang="ja" data-show-count="false">Follow @448jp</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>