aside.ad
    script(async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    // main
    ins.adsbygoogle(style="display:block" data-ad-client="ca-pub-4074211849791118" data-ad-slot="8581468588" data-ad-format="auto")
    script.
        (adsbygoogle = window.adsbygoogle || []).push({});
