aside.ad
    script(async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    // 記事下
    ins.adsbygoogle(style="display:blockwidth:728px;height:90px" data-ad-client="ca-pub-4074211849791118" data-ad-slot="5320268428")
    script.
        (adsbygoogle = window.adsbygoogle || []).push({});
