.info
    .info__title Adobe MAX Japan 2018出演のお知らせ
    img.info__image(src="/images/info/adobe-max-japan-2018.jpg")
    p.info__body
        | アドビ最大のクリエイティブイベント、
        a(href="https://maxjapan.adobe.com/", target="_blank") Adobe MAX Japan 2018
        | （2018年11月20日 火曜日、パシフィコ横浜）に本ブログの執筆者、
        a(href="https://maxjapan.adobe.com/sessions/2279", target="_blank") 沖がスピーカーとして出演
        | します！　担当セッションでは、CSSを学び始めた初級者、なんとか一通り書ける中級者を対象とし、さらにステップアップするための実践的なテクニックをご紹介します。
    p.info__body
        | 詳しくは
        a(href="https://maxjapan.adobe.com/", target="_blank") 公式サイト
        | をご確認ください。
