.post-block {
	.post-title {
		margin: 0 0 1.8rem;
		font-size: 42px;
		font-family: "dnp-shuei-anti-std", sans-serif;
		font-feature-settings : "palt";

		@media (max-width: 768px) {
			font-size: 6vw;
			line-height: 1.2;
		}
	}
}

.post-content {
	h2 {
		margin: 1.8rem 0 0.4rem;
		font-size: 32px;
		font-weight: bold;

		@media (max-width: 768px) {
			font-size: 7vw;
		}
	}

	h3 {
		margin: 1.6em 0 0.8rem;
		font-size: 26px;

		@media (max-width: 768px) {
			margin-bottom: 0.4rem;
			font-size: 5vw;
		}
	}

	h4 {
		margin: 1.6rem 0 0.4rem;
		font-size: 20px;

		@media (max-width: 768px) {
			font-size: 4vw;
		}
	}

	p {
		margin: 0 0 1.6rem;
		font-size: 17px;

		@media (max-width: 768px) {
			font-size: 4.3vw;
		}
	}

	pre {
		tab-size: 4;
	}

	ol,
	ul {
		padding: 0;
	}

	li {
		margin-left: 1.5rem;
	}

	table {
		margin-bottom: 1.6rem;
		border-collapse: collapse;
	}

	th,
	td {
		border: 1px solid #dddddd;
		padding: 0.8rem;
	}

	iframe {
		display: flex;
	}

	iframe,
	video {
		max-width: 100%;
		margin: 1rem auto;
	}
}