@font-face {
	font-family: MyYuGothic;
	font-weight: normal;
	src: local(YuGothic-Medium);
}

@font-face {
	font-family: MyYuGothic;
	font-weight: bold;
	src: local(YuGothic-Bold);
}

body {
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, MyYuGothic, "游ゴシック Medium", sans-serif;
	line-height: 1.6;
	color: #222831;
}

.wrap {
	width: 90%;
	margin: 0 auto;
}

main.container {
	margin: 2em auto 0;
	max-width: 45em;
	min-height: 30vh;

	@media screen and (max-width: 700px) {
		margin-top: 0;
	}
}

.ad {
	margin: 0 auto;
	width: 728px;

	@media screen and (max-width: 728px) {
		width: 100%;
	}
}

.author {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin: 1rem auto;
	padding: 2rem 0;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	max-width: 45em;

	&__image {
		border-radius: 50%;
	}

	&__name {
		margin-bottom: 0.5rem;
		font-size: 17px;
		font-weight: bold;
	}

	&__body {
		margin: 0.5rem 0 1rem;
	}
}